@model Item
<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" />
    </div>
    <button type="submit">Add Item</button>
</form>
